# BSP GPIO Driver configuration options
# Copyright (c) 2020 Volodymyr Sirous
# SPDX-License-Identifier: Apache-2.0

config BSP_GPIO_DRIVER
	bool
	bool "Enable Acme CPU BSP Driver"
#	default y
	help
	    Enables Acme CPU C201 Board Support Package Driver

if BSP_GPIO_DRIVER

config BSP_GPIO_DRIVER_INIT_PRIORITY
	int
	default 80
	help
	    Board Support Package GPIO Driver Initialization Priority

endif # BSP_GPIO_DRIVER

module = BSP_GPIO_DRIVER
module-str = bsp_gpio_driver
source "subsys/logging/Kconfig.template.log_config"



