/*
 * Copyright (c) 2021 Acme CPU
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c3_seg1 {

  p121_ps: bmp388@76 {
/*    compatible = "bosch,bmp388";*/
    compatible = "bosch,bme280";
    reg = <0x76>;
    label = "DIFF_PS_INT_POSITIVE";
  };

  p122_ps: bmp388@77 {
/*    compatible = "bosch,bmp388";*/
    compatible = "bosch,bme280";
    reg = <0x77>;
    label = "DIFF_PS_INT_NEGATIVE";
  };

};
