# STM32G473 board configuration
# Copyright (c) 2021 Acme CPU
# SPDX-License-Identifier: Apache-2.0

config ACME_CPU_C201
	bool "Acme CPU C201 Board"
	depends on SOC_STM32G474XX
	select BSP_ACME_CPU_C201_DRIVER
